.top-menu {
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
}

.menu {
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
}

/* Logo settings*/
.logo {
    width: 7rem;
    height: 7rem;
    align-self: center;
    margin-left: 40%; 
    filter: invert(1);
}

.logo:hover {
    cursor: pointer;
    transition: 0.6s;
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}


/*three bars to display dropdown menu*/
.nav {
    position: relative;
    margin-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 0;
}

.nav h1 {
    height: 3.5px;
    background-color: white;
    margin: 5px 0  0;
    border-radius: 25px;
    transition: 0.6s;
}

.one {
    width: 100px;
}
.two {
    width: 60px;
}
.three {
    width: 80px;
}

.four {
    width: 55px;
}

.nav:hover h1 {
    display: block;
    width: 100px;
    transform: rotate(360deg);
    transition: all 0.7s ease-in-out 0s;
    background: #46A0FA;
    opacity: 0.6;
}

/*icon division settings*/

.div-icons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}

/* Social icons settings*/
.icons {
    height: 20px;
    margin: 5px 0 2px 0;
    filter: invert(2);
}

.icons:hover{
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    cursor: pointer;
    opacity: 0.6;
    transition: 0.6s;
    transform: rotate(360deg);
}

/*dropdown menu settings*/
.dropdown-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 1px;
    justify-content: center; 
    margin-top: 5px;
    
}

.dropdown-menu li {
    position: relative;
    text-align: center;
    border-radius: .2rem;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,.1);
    background-color: #46A0FA;
    width: 300px;
    height: 20px;
    color: white;
    padding-top: 4px;
    list-style: none;
    margin-bottom: 5px;
    margin-top: 5px;
    display: none;
    right: 145px;

}

.dropdown-menu li a {
    color: white;
    text-decoration: none;
}

.nav:hover .dropdown-menu li {
    display: block;
    cursor: pointer;
    animation: fade-in 600ms forwards;
}

/*select individual item on the dropdown-menu*/
.menu-select:hover {
    background-color: transparent;
    opacity: 0;
    border: 1px solid white;
}

.menu-select:hover a {
    opacity: 0.5;
    text-decoration: underline;
}

/*end*/
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
