.sobre {
    display: flex;
    height: 633px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-color: #46A0FA;
    opacity: 1;
    background-size: 100% 100%;
}

.text {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 50vw;
    margin-right: 100px;
    margin-left: 40px;
    margin-top: 105px;
    color: white;
    font-family: "montserrat", sans-serif;

}

.text h1 {
    font-size: 30px;
    color: #85F4FF;
}

.text p {
    margin-top: 30px;
    text-align: justify;
    font-size: 16px;
}
.sobre img {
    height: 60vh;
    width: 50vw;
    align-self: center;
    margin-left: 80px;
    margin-top: 105px;
}

#about::after {
    content: "";
    display: flex;
    background: white;
    height: 5px;
    margin-top: 10px;
    width: 80%;
}